{
  "extends": [
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "plugins": ["emotion"],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "semi": false
      }
    ],
    "emotion/jsx-import": "error",
    "emotion/no-vanilla": "error",
    "emotion/import-from-emotion": "error",
    "emotion/styled-import": "error"
  }
}
